<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <!--  <servlet>
  <servlet-name>abc</servlet-name>
  <servlet-class>com.vipul.AddServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>abc</servlet-name>
  <url-pattern>/add</url-pattern></servlet-mapping>
  
  <servlet>
  <servlet-name>pqr</servlet-name>
  <servlet-class>com.vipul.SquareServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>pqr</servlet-name>
  <url-pattern>/square</url-pattern></servlet-mapping>
  
  <servlet>
  <servlet-name>def</servlet-name>
  <servlet-class>com.vipul.MyServlet</servlet-class>
  <init-param>
  <param-name>name</param-name>
  <param-value>nitin</param-value>
  </init-param>
  </servlet>
  <servlet-mapping>
  <servlet-name>def</servlet-name>
  <url-pattern>/home</url-pattern></servlet-mapping>
  
  <context-param>
  <param-name>name</param-name>
  <param-value>Vipul</param-value>
  </context-param>
  
  <context-param>
  <param-name>Phone</param-name>
  <param-value>Xiaomi</param-value>
  </context-param>
  -->
</web-app> 